

<nav mat-tab-nav-bar>
<a mat-tab-link [routerLink]="['/','accounts','login']" *ngIf="!loggedIn">Login</a>
<a mat-tab-link [active]="true"[routerLink]="['/','accounts','createaccount']" *ngIf="!loggedIn">Create Account</a>
<a mat-tab-link [active]="true"[routerLink]="['/','posts','help-requests']" [state]="{request : 'help-requests'}" *ngIf="loggedIn" >Help Requests</a>
<a mat-tab-link [active]="true"[routerLink]="['/','posts','help-requests']" [state]="{request :'post-requests'}" *ngIf="loggedIn">Service Providers</a>
<a mat-tab-link [active]="true"[routerLink]="['/','accounts','profile']" *ngIf="loggedIn">My Profile</a>
<a mat-tab-link [routerLink]="['/','accounts','login']" (click)="logout()" *ngIf="loggedIn">Logout</a>
  <a mat-tab-link disabled>Disabled Link</a>
</nav>

<router-outlet></router-outlet>

<!-- <nav mat-tab-nav-bar ngClass = "tabs">
  <a mat-tab-link [routerLink]="['/', 'user', 'signin']" routerLinkActive="active-link" [disabled]="loggedIn">Login</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'signup']" routerLinkActive="active-link" [disabled]="loggedIn">Signup</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'edituser']" routerLinkActive="active-link" [disabled]="!loggedIn">Account Info</a>
  <a mat-tab-link [routerLink]="['/', 'user', 'edituser']" routerLinkActive="active-link" [disabled]="!loggedIn">Logout</a>
</nav> -->