<form [formGroup]="upsertForm" (ngSubmit)="upsertSubmit()">

    <!-- Email -->
    <cInput
      title = "Email"
      type = "email"
      [control] = "email"
      placeholder = "username@domain.com"
    ></cInput>

    <!-- Password -->
    <cInput
      title = "Password"
      [control] = "password"
      placeholder = "At Least 4 Characters"
    ></cInput>

    <!-- Username -->
    <cInput
    title = "User Name"
    [control] = "username"
    placeholder = "JDoe"
  ></cInput>

    <!-- Fullname -->
    <cInput
      title = "Full Name"
      [control] = "fullname"
      placeholder = "John Doe"
    ></cInput>

    <!-- Fullname -->
    <cInput
      title = "Address"
      [control] = "address"
      placeholder = "300 Pratt Street"
    ></cInput>

    <!-- City -->
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select [formControl]="city">
        <mat-option *ngFor="let c of cities" [value]="c">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- State -->
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="state">
        <mat-option *ngFor="let s of states" [value]="s">
          {{s}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- Zip -->
    <mat-form-field appearance="fill">
      <mat-label>Zip</mat-label>
      <mat-select [formControl]="zip">
        <mat-option *ngFor="let z of zips" [value]="z">
          {{z}}
        </mat-option> 
      </mat-select>
    </mat-form-field>

    <!-- Fullname -->
    <cInput
      title = "Phone Number"
      [control] = "phone"
      placeholder = "xxx-xxx-xxxx"
    ></cInput>



    <button
      type="submit"
      [disabled]="!upsertForm.valid"
      color="primary" 
      mat-raised-button 
    >{{submitText}}</button>


  </form>

  <h2 class="error">{{error}}</h2>