<mat-card *ngFor="let post of posts">
     <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{post.user.username}}</mat-card-title>
          <mat-card-subtitle>{{post.type}}</mat-card-subtitle>
     </mat-card-header>
     <div mat-card-image></div>
     <mat-card-content>
          <p>
               {{post.description}}
          </p>
          <mat-card-subtitle>Comments</mat-card-subtitle>
          <app-comments *ngFor="let comment of post.comments" [comment]="comment"></app-comments>
          <p>Date : {{post.date}}</p>
     </mat-card-content>
     <input type="text" placeholder="Your comment here" (keyup)="onKey($event)">
     <mat-card-actions>
          <button mat-button (click)="addComment(post)">Add Comment</button>
     </mat-card-actions>
     <button >Create new {{type}}</button>
</mat-card>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 25]"
              firstPageLabel="first"
              (page)="page($event)">>
</mat-paginator>